.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(46, 45, 45);
}

.hovered{
  background-color: blue;
  color: white;
}